.services {
  background-color: linear-gradient(180deg, #0c0c1d, #111132);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

    .textContainer{
        flex: 1;
        align-self: flex-end;
        display: flex;
        align-items: center;
        gap: 20px;
            p {
              font-weight: 200;
              font-size: 17px;
              color: gray;
              text-align: right;
            }
            hr {
              width: 300px;
              border: none;
              border-top: 0.5px solid gray;
            }
    }
    .tittleContainer{
        flex: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
            .tittle {
              display: flex;
              align-items: center;
              gap: 50px;   
                img{
                    width: 250px;
                    height: 80px;
                    border-radius: 50px;
                    object-fit: cover;
                }
                h1 {
                    font-size: 56px;
                    font-weight: 200;
                }
                button {
                    width: 225px;
                    height: 65px;
                    border-radius: 50px;
                    background-color: orange;
                    font-size: 22px;
                    cursor: pointer;
                }
            }
    }
    .listContainer{
        flex: 2;
        display: flex;
        max-width: 1000px;
        margin: auto;
            .box {
                padding: 28px;
                border: 0.5px solid gray;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                    button {
                        padding: 9px;
                        background-color: orange;
                        border: none;
                        cursor: pointer;
                    }
            }
    }

}