.navbar {
    height:  50px;
    // border: 1px solid saddlebrown;
    .wrapper {
        max-width: 1000px;
        height: 100%;
        margin:  auto  !important;
        display: flex;
        align-items: center;
        justify-content: space-between;
        // border: 1px seagreen solid;
    }
    span {
        font-weight: bold;
    }
    .social {
        display: flex;
        gap: 20px;
        // border: 1px solid skyblue;
    }
}